@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-slate-100;
}

a {
  @apply text-blue-400 hover:text-blue-300 transition;
}

button {
  @apply transition-colors;
}
